src/main/mule/ut-01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="080dac15-f299-4bb0-9bca-0c85c5093189" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ut-01Flow" doc:id="32770bf0-047c-47aa-9dc6-09cffd263362" >
		<http:listener doc:name="Listener" doc:id="b65c07f0-f78c-4388-abd4-9dce81685c6e" config-ref="HTTP_Listener_config" path="/ut"/>
		<logger level="INFO" doc:name="Logger" doc:id="a97d9d26-ba59-4663-a6c9-0cb0767669b9" message="started"/>
		<set-payload value="Success!" doc:name="Set Payload" doc:id="f4b66c75-8b2f-434d-a1f5-62c7a5cd270d" />
		<ee:transform doc:name="Transform Message" doc:id="91ba19d7-04e9-439f-9039-d9837ebc02e1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

"UT-02 " ++ payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a79a73be-0aa7-4fc8-b881-638f27d27df9" message="#[output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
